@(forgotPasswordForm : Form[String])(implicit flash: Flash)

<!DOCTYPE html>
<html>
  <head>
     <title>Forgot Password</title>
     <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>
    <div id="LOGIN">
      <div class="messages">
        @flash.get("success").map { msg =>
          <div>@msg</div>
        }
      </div>
      <div class="errors">
        @flash.get("error").map { msg =>
        <div>@msg</div>
        }
      </div>
      <div class="errors">
        @if(forgotPasswordForm.hasGlobalErrors) {
          <div>@forgotPasswordForm.globalErrors.map(_.message)</div>
        }
      </div>
      <div>Please enter your email to reset your password</div>
      <form action="@controllers.auth.routes.AccountController.forgotPasswordPost"  method="post">
        @helper.inputText(forgotPasswordForm("email"))
        <input class="bGreen" type="submit" value="Reset password">
      </form>
    </div>
    @html.jQuery()
    <script>$('#email').focus()</script>
  </body>
</html>
