@(resetPasswordForm : Form[PasswordReset])(implicit flash: Flash)

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>

<div id="LOGIN">
    <div class="messages">
        @flash.get("success").map { msg =>
        <div>@msg</div>
        }
    </div>
    <div class="errors">
        @flash.get("error").map { msg =>
        <div>@msg</div>
        }
    </div>
    <div class="errors">
        @if(resetPasswordForm.hasGlobalErrors) {
        <div>@resetPasswordForm.globalErrors.map(_.message)</div>
        }
    </div>
    <div>Please create a new password</div>
    <form action="@controllers.auth.routes.AccountController.resetPasswordPost"  method="post">
        <input type="hidden" name="accountId" value='@resetPasswordForm("accountId").value'/>
        <input type="hidden" name="passwordResetToken" value='@resetPasswordForm("passwordResetToken").value'/>
        @helper.inputText(resetPasswordForm("password"))
        @helper.inputText(resetPasswordForm("password2"))
        <input class="bGreen" type="submit" value="Set New Password">
    </form>
</div>
@html.jQuery()
<script>$('#email').focus()</script>
</body>
</html>