@(key : String, title: String, inputType : String, changePasswordForm : Form[(String, String, String)])

<div class="row">
  @if(changePasswordForm(key).hasErrors) {
    @defining(changePasswordForm(key).error.map(_.message)){ error =>
      <div class="editable error" error="@Messages(error.get)" local_storage="@key">
        <div class="title">@title</div>
        <input name="@key" type="@inputType" value="@changePasswordForm(key).value" />
      </div>
    }
  } else {
    <div class="editable" local_storage="@key">
      <div class="title">@title</div>
      <input name="@key" type="@inputType" value="@changePasswordForm(key).value" />
    </div>
  }
</div>
